<!-- Start Footer -->
<footer>
    <div class="container">
        <ul>
            <li>
                <a href="contact">تواصل معنا</a>
            </li>
            <li>
                <a href="chat">ابدأ الدردشة مع سلام</a>
            </li>
        </ul>
        <div class="line">
            <div class="text-cont">
                <p>Copyright ©2022 All rights reserved made by <a href="https://www.linkedin.com/in/mohammed-hany-1b1b4119b/"> Mohammed Hany</a></p>
                <p>to see my work <a href="https://github.com/MohammedHany1">GitHub</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->